<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{Admin/AdminBasePage::layout(~{::section})}">
<head>
<meta charset="ISO-8859-1">
<title>Product Details</title>
</head>
<body>
	<section>
		<div class="container-fluid mt-5 p-3">
			<div class="row">
				<div class="col-md-2">
					<div class="card shadow-sm p-0 mb-5 bg-body-tertiary rounded">
						<div class="card-body">
							<div class="list-group">
								<a href="/admin/viewProducts" class="list-group-item list-group-item-action" aria-current="true">All Categories</a> <a th:each="category:${categories}" th:href="@{'/admin/viewProducts?category='+${category.name}}"
									th:classappend="${paramValue == category.name}?'active':'' " class="list-group-item list-group-item-action">[[${category.name}]]</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-10">
					<div class="card card-sh">
						<div class="card-header text-center">
							<p class="fs-4">View Products</p>
							<div class="card-sh">
								<th:block th:if="${session.successMsg}">
									<p class="text-success fw-bold">[[${session.successMsg}]]</p>
									<th:block th:text="${@commonServiceImpl.removeSessionMsg()}"></th:block>
								</th:block>
								<th:block th:if="${session.errorMsg}">
									<p class="text-danger fw-bold">[[${session.errorMsg}]]</p>
									<th:block th:text="${@commonServiceImpl.removeSessionMsg()}"></th:block>
								</th:block>
							</div>
						</div>
						<div class="card-body">
							<a href="/admin/" class="btn btn-sm text-muted fw-bold"><i class="fa-solid fa-arrow-left"></i> Back</a>
							<div class="mb-2">
								<form action="/admin/searchProduct">
									<div class="row">
										<div class="col-md-3">
											<input type="text" class="form-control" name="ch" placeholder="Enter product details...">
										</div>
										<div class="col">
											<button class="btn btn-primary col">Search</button>
										</div>
									</div>
								</form>
							</div>
							<table class="table">
								<thead>
									<tr>
										<th scope="col">Sl No</th>
										<th scope="col">Title</th>
										<th scope="col">Description</th>
										<th scope="col">Category</th>
										<th scope="col">Price</th>
										<th scope="col">Discount(%)</th>
										<th scope="col">New Price</th>
										<th scope="col">Stock</th>
										<th scope="col">Status</th>
										<th scope="col">Image</th>
										<th scope="col">Action</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="product,c:${products}">
										<th scope="row">[[${c.count}]]</th>
										<td>[[${product.productName}]]</td>
										<td>[[${product.description}]]</td>
										<td>[[${product.category}]]</td>
										<td>[[${product.price}]]</td>
										<td>[[${product.discount}]]</td>
										<td>[[${product.price} - (${product.price}*${product.discount}/100)]]</td>
										<td>[[${product.stock}]]</td>
										<td th:if="${product.isActive} == true" class="text-primary">ACTIVE</td>
										<td th:if="${product.isActive} == false" class="text-danger">IN-ACTIVE</td>
										<td><img th:src="@{'/img/product/'+${product.image}}" width="50px" height="50px"></td>
										<td><a th:href="@{'/admin/editProduct/'+${product.productId}}" class="btn"><i class="fa-solid fa-pen-to-square text-primary fa-2x"></i></a> <a th:href="@{'/admin/deleteProduct/'+${product.productId}}" class="btn"><i
												class="fa-solid fa-trash-can text-danger fa-2x"></i></a></td>
									</tr>
								</tbody>
							</table>
							<div class="row mt-2">
								<div class="col-md-5">Total Products : [[${totalElements}]]</div>
								<div class="col-md-5">
									<nav aria-label="Page navigation example">
										<ul class="pagination">
											<li class="page-item" th:classappend="${isFirst}?'disabled':''"><a class="page-link" th:href="@{'/admin/viewProducts?pageNo='+${pageNo-1}}" aria-label="Previous"> <span aria-hidden="true">&laquo;</span>
											</a></li>
											<li th:each="i:${#numbers.sequence(1,totalPages)}" class="page-item" th:classappend="${pageNo+1==i}?'active':''"><a class="page-link" th:href="@{'/admin/viewProducts?pageNo='+${i-1}}">[[${i}]]</a></li>
											<li class="page-item" th:classappend="${isLast}?'disabled':''"><a class="page-link" th:href="@{'/admin/viewProducts?pageNo='+${pageNo+1}}" aria-label="Next"> <span aria-hidden="true">&raquo;</span>
											</a></li>
										</ul>
									</nav>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>