<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{basePage::layout(~{::section})}">

<head>
<meta charset="ISO-8859-1">
<title>Index Page</title>
</head>

<body>
	<section>
		<!-- Start Slider -->
		<div id="carouselExample" class="carousel slide">
			<div class="carousel-inner">
				<div class="carousel-item active">
					<img src="img/ecom1.png" class="d-block w-100" alt="..." height="350px">
				</div>
				<div class="carousel-item">
					<img src="img/ecom2.png" class="d-block w-100" alt="..." height="350px">
				</div>
				<div class="carousel-item">
					<img src="img/ecom3.png" class="d-block w-100" alt="..." height="350px">
				</div>
			</div>
			<button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span> <span class="visually-hidden">Previous</span>
			</button>
			<button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span> <span class="visually-hidden">Next</span>
			</button>
		</div>
		<!-- Start Slider -->

		<!-- Start Category Module -->
		<div class="container">
			<div class="row">
				<p class="text-center fs-4">Category</p>
				<div class="col-md-2">
					<div class="card rounded-circle shadow-sm p-3 mb-5 bg-body-tertiary rounded">
						<div class="card-body text-center">
							<img src="img/category/appli.png" width="65%" height="140px">
							<p>Electronics</p>
						</div>
					</div>
				</div>
				<div class="col-md-2">
					<div class="card rounded-circle shadow-sm p-3 mb-5 bg-body-tertiary rounded">
						<div class="card-body text-center">
							<img src="img/category/beuty.png" width="65%" height="140px">
							<p>Beauty Products</p>
						</div>
					</div>
				</div>
				<div class="col-md-2">
					<div class="card rounded-circle shadow-sm p-3 mb-5 bg-body-tertiary rounded">
						<div class="card-body text-center">
							<img src="img/category/grocery.jpg" width="65%" height="140px">
							<p>Grocery</p>
						</div>
					</div>
				</div>
				<div class="col-md-2">
					<div class="card rounded-circle shadow-sm p-3 mb-5 bg-body-tertiary rounded">
						<div class="card-body text-center">
							<img src="img/category/laptop.jpg" width="65%" height="140px">
							<p>Laptop</p>
						</div>
					</div>
				</div>
				<div class="col-md-2">
					<div class="card rounded-circle shadow-sm p-3 mb-5 bg-body-tertiary rounded">
						<div class="card-body text-center">
							<img src="img/category/mobile.png" width="65%" height="140px">
							<p>Mobile</p>
						</div>
					</div>
				</div>
				<div class="col-md-2">
					<div class="card rounded-circle shadow-sm p-3 mb-5 bg-body-tertiary rounded">
						<div class="card-body text-center">
							<img src="img/category/pant.png" width="65%" height="140px">
							<p>Clothing</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Category Module -->

		<!-- Start Product Module -->
		<div class="container-fluid bg-light p-3">
			<div class="row">
				<p class="text-center fs-4">Latest Product</p>
				<div class="col-md-3">
					<div class="card-body text-center">
						<img / alt="" src="img/product/laptop.jpg" class="rounded-circle shadow-sm p-3 mb-5 bg-body-tertiary rounded" width="65%" height="140px">
						<p class="text-center"><%=p.getTitle()%></p>
					</div>
				</div>
				<div class="col-md-3">
					<div class="card-body text-center">
						<img / alt="" src="img/product/laptop.jpg" class="rounded-circle shadow-sm p-3 mb-5 bg-body-tertiary rounded" width="65%" height="140px">
						<p class="text-center"><%=p.getTitle()%></p>
					</div>
				</div>
				<div class="col-md-3">
					<div class="card-body text-center">
						<img / alt="" src="img/product/laptop.jpg" class="rounded-circle shadow-sm p-3 mb-5 bg-body-tertiary rounded" width="65%" height="140px">
						<p class="text-center"><%=p.getTitle()%></p>
					</div>
				</div>
				<div class="col-md-3">
					<div class="card-body text-center">
						<img / alt="" src="img/product/laptop.jpg" class="rounded-circle shadow-sm p-3 mb-5 bg-body-tertiary rounded" width="65%" height="140px">
						<p class="text-center"><%=p.getTitle()%></p>
					</div>
				</div>
			</div>
		</div>
		<!-- End Product Module -->
	</section>
</body>

</html>