<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{basePage::layout(~{::section})}">

<head>
<meta charset="ISO-8859-1">
<title>Index Page</title>
</head>

<body>
	<section>
		<!-- Start Slider -->
		<div id="carouselExample" class="carousel slide">
			<div class="carousel-inner">
				<div class="carousel-item active">
					<img src="img/ecom1.png" class="d-block w-100" alt="..." height="350px">
				</div>
				<div class="carousel-item">
					<img src="img/ecom2.png" class="d-block w-100" alt="..." height="350px">
				</div>
				<div class="carousel-item">
					<img src="img/ecom3.png" class="d-block w-100" alt="..." height="350px">
				</div>
			</div>
			<button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span> <span class="visually-hidden">Previous</span>
			</button>
			<button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span> <span class="visually-hidden">Next</span>
			</button>
		</div>
		<!-- Start Slider -->

		<!-- Start Category Module -->
		<div class="container">
			<div class="row">
				<p class="text-center fs-4">Category</p>
				<div class="col-md-2" th:each="c:${categories}">
					<div class="card rounded-circle shadow-sm p-3 mb-5 bg-body-tertiary rounded">
						<div class="card-body text-center">
							<a class="text-decoration-none" th:href="@{'/products?category='+${c.name}}"><img th:src="@{'img/category/'+${c.image}}" width="65%" height="140px">
							<p>[[${c.name}]]</p></a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Category Module -->

		<!-- Start Product Module -->
		<div class="container-fluid bg-light p-3 mb-5">
			<div class="row">
				<p class="text-center fs-4">Latest Product</p>
				<div class="col-md-3" th:each="p:${products}">
					<div class="card-body text-center">
						<a style="text-decoration: none;" th:href="@{'/viewProduct/'+${p.productId}}"><img alt="" th:src="@{'img/product/'+${p.image}}" class="rounded-circle shadow-sm p-3 mb-5 bg-body-tertiary rounded" width="65%" height="200px">
							<p class="text-center">[[${p.productName}]]</p></a>
					</div>
				</div>
			</div>
		</div>
		<!-- End Product Module -->
	</section>
</body>

</html>